<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/malvino_v2</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">root</property>
		<property name="hibernate.default_schema">malvino</property>
		<property name="c3p0.min_size">1</property>
		<property name="c3p0.max_size">5</property>
		<property name="c3p0.timeout">300</property>
		<property name="c3p0.max_statements">50</property>
		<property name="c3p0.idle_test_period">300</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.jdbc.batch_size">20</property>

		<!-- Configuração Cache -->
		<property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.generate_statistics">false</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- Mostra o SQL -->
		<property name="show_sql">true</property>
		<property name="format_sql">false</property>
		
		<mapping class="com.model.Jogadores"></mapping>
		<mapping class="com.model.Perfis"></mapping>
		<mapping class="com.model.Clas"></mapping>
		<mapping class="com.model.Jogos"></mapping>
		<mapping class="com.model.Categorias"></mapping>
		<mapping class="com.model.Publicidades"></mapping>
		<mapping class="com.model.JogadoresJogos"></mapping>
		<mapping class="com.model.JogosCategoria"></mapping>
		<mapping class="com.model.JogosPublicidade"></mapping>
		<mapping class="com.model.CategoriaPublicidade"></mapping>
		
		
		

	</session-factory>
</hibernate-configuration>